.sidebar
  %h2 About keeny.co.uk
  %p Barry Keenan's notes on Ruby, PHP, JavaScript and Web Development.

.sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false
  = haml :social, :layout => false
