// Reset

* {
  margin: 0;
  padding: 0; }

// Typography

$base-scale: 0.88;
$base-font: $base-scale * 1em;
$vertical-rhythm: 1.5em;
$base-vertical-margin: 1.5em;

@mixin adjust-font-size($scale, $top-weight: 1, $bottom-weight: 1) {
  $average-margin: $base-vertical-margin / $scale;
  margin-top: $average-margin * $top-weight;
  margin-bottom: $average-margin * $bottom-weight;
  $line-height: $vertical-rhythm / $scale;
  @if $line-height < 1 {
    line-height: $line-height * 2; }
  @else {
    line-height: $line-height; }
  font-size: 100% * $scale; }

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius; }

body {
  font: $base-font "Helvetica Neue", Helvetica, sans-serif;
  line-height: $vertical-rhythm;
  color: $base-color;
}
a {
  color: $base-color;
}
  a:hover {
    color: $accent;
  }
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

h1 {
  @include adjust-font-size($h1-scale, 0.6, 0.4);
  font-weight: normal; }

h2 {
  @include adjust-font-size($h2-scale, 1.5, 0.5);
  font-weight: normal; }

h3 {
  @include adjust-font-size($h3-scale, 1.5, 0.5);
  font-weight: normal; }

h4 {
  @include adjust-font-size($h4-scale, 2, 0); }

ol,
p,
pre,
ul {
  margin: 0;
  margin-bottom: $base-vertical-margin; }

li {
  @include adjust-font-size(1, 0, 0); }

blockquote {
  margin: $base-vertical-margin 0;
  border-left: 0.5em solid $tint;
  padding-left: 1em;
  font-style: italic; }

pre {
  padding: $vertical-rhythm / 2 1em;
  overflow: auto; }

img {
  border: none; }